*{
    margin: 0;
    padding: 0;
}
body{
    background-color:lightblue;
}
h1{
    text-align: center;
    color: brown;
    padding: 50px;
    font-size: 100px;
}
p{
    text-align: center;
    font-size: 100px;
}